@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    align-items: center;
}

.resume{
    border: 1px solid rgb(0, 106, 80);
    background-color: white;
    padding: 15px 30px;
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}





.banner-container{
    width: 80%;
    height: 560px;
    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto auto auto;
    border-radius: 24px;
    gap: 61px;
}


.content-1, .content-2{
    background: none;
}

.content-1{
    width: 592px;
    height: 326px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px;
}


.content-1 h4, p{
    background: none;
    padding: 0px;
}

.content-1 h4{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}


.content-1 p{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
}



.content-1 button{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 32px;
    border: 1px rgb(0, 106, 80);
}


.content-2{
    width: 451px;
    height: 400px;
}

.content-2 img{
    background: none;
}


.pillar{
    width: 80%;
    height: 324px;
    margin: 80px auto;
}


.pillar h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}


.pillar .pillar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.pillar .pillar-item .pillar-1{
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 288px;
    height: 244px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}


.pillar .pillar-item .pillar-1 img{
    width: 47px;
    height: 53.09px;
    background: none;
}



.pillar .pillar-item .pillar-1 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}


.pillar .pillar-item .pillar-1 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}




.vision{
    width: 80%;
    height: 324px;
    margin: 80px auto;
}


.vision h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.vision p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 24px 0px 0px 0px;
}


.vision-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 32px 0px;
}


.vision-1, .vision-2, .vision-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    height: 325px;
    width: 410.67px;
    padding: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}


.vision-1{
    background: rgba(84, 144, 245, 0.2);
}

.vision-2{
    background: rgb(198, 228, 214);
}


.vision-3{
    background: rgb(247, 235, 207);
}


.vision-1 img{
    width: 47px;
    height: 53.09px;
    background: none;
}

.vision-2 img{
    width: 47px;
    height: 53.09px;
    background: none;
}

.vision-3 img{
    width: 47px;
    height: 53.09px;
    background: none;
}



.vision-1 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}

.vision-2 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}

.vision-3 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}


.vision-1 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-2 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-3 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-1 button{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
    border: 1px rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-2 button{
    border-radius: 8px;
    background: rgb(9, 161, 92);;
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
    border: 1px rgb(9, 161, 92);;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-3 button{
    border-radius: 8px;
    background: rgb(255, 194, 57);;
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
    border: 1px rgb(255, 194, 57);;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

footer{
    background: rgb(255, 255, 255);
    padding: 32px 150px;
    height: 226px;
}


footer h3, .logo{
    background: none;
}


.foot-content{
    padding: 50px 152px;
    background: none;
}



.foot-content h3{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
}

.foot-content .logo{
    width: 115px;
    height: 24px;
    display: flex;
    gap: 22px;
    justify-content: flex-start; 
    align-items: flex-start;
    margin: 32px auto;
}