@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    align-items: center;
}

.resume{
    border: 1px solid rgb(0, 106, 80);
    background-color: white;
    padding: 15px 30px;
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.resume:hover{
    background-color: rgb(0, 106, 80);
    color: white;
    border: 0px;
}





.banner-container{
    width: 80%;
    height: 560px;
    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto auto auto;
    border-radius: 24px;
    gap: 61px;
}


.content-1, .content-2{
    background: none;
}

.content-1{
    width: 592px;
    height: 326px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px;
}


.content-1 h4, p{
    background: none;
    padding: 0px;
}

.content-1 h4{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}


.content-1 p{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
}



.content-1 button{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 32px;
    border: 1px rgb(0, 106, 80);
}


.content-1 button:hover{
    color: rgb(0, 106, 80);
    background-color: rgb(255, 255, 255);
    border: 0px;
}


.content-2{
    width: 451px;
    height: 400px;
}

.content-2 img{
    background: none;
}


.pillar{
    width: 80%;
    height: 324px;
    margin: 80px auto;
}


.pillar h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}


.pillar .pillar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.pillar .pillar-item .pillar-1{
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 288px;
    height: 244px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}


.pillar .pillar-item .pillar-1:hover{
    border: 0px;
    background: rgb(240, 240, 240);
}


.pillar .pillar-item .pillar-1 img{
    width: 47px;
    height: 53.09px;
    background: none;
}



.pillar .pillar-item .pillar-1 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}


.pillar .pillar-item .pillar-1 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}




.vision{
    width: 80%;
    margin: 80px auto;
}


.vision h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.vision p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 24px 0px 0px 0px;
}


.vision-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 32px 0px;
}


.vision-1, .vision-2, .vision-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    height: 325px;
    width: 410.67px;
    padding: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}


.vision-1{
    background: rgba(84, 144, 245, 0.2);
}

.vision-2{
    background: rgb(198, 228, 214);
}


.vision-3{
    background: rgb(247, 235, 207);
}


.vision-1 img{
    width: 47px;
    height: 53.09px;
    background: none;
}

.vision-2 img{
    width: 47px;
    height: 53.09px;
    background: none;
}

.vision-3 img{
    width: 47px;
    height: 53.09px;
    background: none;
}



.vision-1 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}

.vision-2 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}

.vision-3 h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}


.vision-1 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-2 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-3 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-1 button{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
    border: 1px rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-1 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(84, 144, 245);
    border: 0px;
}

.vision-2 button{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
    border: 1px rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-2 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(9, 161, 92);
    border: 0px;
}


.vision-3 button{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    margin: 24px 0px;
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
    border: 1px rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-3 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 194, 57);
    border: 0px;
}

/* quote section starts here */

.quote{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 1180px;
    margin: 48px auto;
    padding: 48px 24px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 30px;
}

.quote-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    background: none;
}


.quote-text{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.quote-name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
}


.quote-design{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
} 


/* quote section ends here */

/* table section starts here */
.table{
    width: 80%;
    margin: 80px auto;
}


.table h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}


.table-item{
    border-radius: 16px;
    padding: 32px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
}


.table-content{
    width: 100%;
}


.table-header{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.table-content h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    background: none;
}


.table-col{
    display: flex;
    gap: 0px;
    width: 100%;
}

.table-col-1{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    margin: 0px -1px;
    width: 910px;
    height: 44px;
}



.table-col-2{
    padding: 24px 32px 24px 17px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    margin: 0px -1px;
    width: 145px;
}



.table-col-1 h6{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 13px;
}



.table-col-2 button{
    padding: 10px 14px;
    height: 44px;
    width: 160px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}



#drop{
    background:  rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    border: 0px;
}

/* table section ends here */



/* news section starts here  */
.news{
    width: 80%;
    margin: auto;
}


.news-head{
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.news-head h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.news p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-1, .news-2, .news-3{
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}


.date-time{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}


.news-1 img, .news-2 img, .news-3 img{
    border-radius: 24px;
}

.news-1 h1, .news-2 h1, .news-3 h1{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}


.news-1 button, .news-2 button, .news-3 button{
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: 0px;
}


.news-1 button:hover{
    background-color: white;
    color: rgb(0, 106, 80);
    font-size: 20px;
}

.news-2 button:hover{
    background-color: white;
    color: rgb(0, 106, 80);
    font-size: 20px;
}

.news-3 button:hover{
    background-color: white;
    color: rgb(0, 106, 80);
    font-size: 20px;
}


.news-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 21px;
    background: none;
}


.news-text h1, img, .date-time, p{
    background: none;
}
/* news section ends here */

/* donate section starts here  */
.donate{
    width: 80%;
    margin: 80px auto;
}


.donate-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
}


.donate-text h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.donate-text p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}


.submit{
    margin: 0px auto 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit button{
    padding: 17px 34px 17px 34px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.submit button:hover{
    background-color: white;
    color: rgb(0, 106, 80);
}


.money{
    display: flex;
    justify-content: space-around;
    gap: 22px;
    width: 1020px;
    margin: 0px auto;
}

.money-1, .money-3, .money-4{
    padding: 36px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.money-2{
    padding: 36px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
}


.money-1:hover{
    background-color: rgb(101, 192, 149);
}

.money-2:hover{
    background-color: rgb(101, 192, 149);
}

.money-3:hover{
    background-color: rgb(101, 192, 149);
}

.money-4:hover{
    background-color: rgb(101, 192, 149);
}


.money-1, .money-2, .money-3, .money-4{
    width: 253px;
}


.money-1 h1, .money-2 h1, .money-3 h1, .money-4 h1{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 36px;
    font-weight: 666;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    background: none;
    margin: auto 0px;
}

.donation{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}




.donation .amount{
    padding: 20px 40px 20px 40px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 903px;
    height: 24px;
    margin: 32px 0px;
}


.donation .amount::placeholder{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
/* donate section ends here  */


/* letter section starts here  */
.letter{
    width: 80%;
    margin: 80px auto;
}

.letter-content{
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.letter-content h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    background: none;
}


.letter-content .large{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}


.letter-content .small{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}


.letter-form input{
    width: 491px;
    padding: 18px 40px 18px 40px;
    height: 19px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: 0px;
}


.letter-form input::placeholder{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


.letter-form button{
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 143px;
    border: 0px;
    height: 57px;
}


.letter-form button:hover{
    font-size: 20px;
}


/* letter section ends here  */
/* footer section starts here */



footer{
    background: rgb(255, 255, 255);
    padding: 32px 150px;
    height: 226px;
}


footer h3, .logo{
    background: none;
}


.foot-content{
    padding: 50px 152px;
    background: none;
}



.foot-content h3{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
}

.foot-content .logo{
    width: 115px;
    height: 24px;
    display: flex;
    gap: 22px;
    justify-content: flex-start; 
    align-items: flex-start;
    margin: 32px auto;
}


.foot-content .logo img:hover{
    width: 117px;
    height: 26px;
}

/* footer section ends here */